<div>
  <div class="row text-white p-5 mt-5" style="background-color: dodgerblue">
    <div class="col">
      <h3 class="h3 font-weight-bold">Products</h3>
    </div>
    <div class="col">
      <button
        class="btn btn-light font-weight-bold text-uppercase float-right"
        (click)="addProduct()"
      >
        add new product
      </button>
    </div>
  </div>
  <div
    class="form p-3 bg-white"
    style="margin: 10px; margin-top: -20px; border-radius: 10px"
  >
    <table class="table p-3">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Category</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Active</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of productList; let i = index">
          <td>{{ productList[i].id }}</td>
          <td>{{ productList[i].name }}</td>
          <td>{{ productList[i].categories }}</td>
          <td>{{ productList[i].price }}</td>
          <td>{{ productList[i].quantity }}</td>
          <td>
            <i
              class="fa fa-check-circle"
              style="color: green"
              aria-hidden="true"
              *ngIf="product.status == 'Active'"
            ></i>
            <i
              class="fa fa-times-circle"
              style="color: red"
              aria-hidden="true"
              *ngIf="product.status == 'InActive'"
            ></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
